*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	
}
p{
	display: none;
}

a img{
	vertical-align: top;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	margin-top: 39px;
	display: flex;
	justify-content: center;
	width: 100%;
}
input{
	height: 44px;
	width: 80%;
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	padding-left: 14px;
	font-size: 15.75px;
	color: #858585;
}
input:focus{
	outline: none;
	color: #858585;
}
input::-webkit-input-placeholder { 
	color: #858585;
}

input::-moz-placeholder { 
	color: #858585;
}

#pics{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	margin: 12px 60px 33px;
}
#pics a{
	margin: 30px;
}

/* -------------------------------------------- 

NOTE: ALL MEDIA QUERIES DELETED FROM BOTH FEATHERLIGHT CSS FILES

-------------BASE FEATHERLIGHT-----------------------------------*/

.featherlight .featherlight-content{
	padding: 0;
	border: 0;
	overflow: visible;
}

.featherlight .featherlight-image{
	width: 100%;
}

.featherlight:last-of-type{background:rgba(0,0,0,0.95);}

.featherlight .featherlight-close-icon{
	line-height: 20px;
	width: 20px;
}

/* ----------------FEATHERLIGHT GALLERY--------------------------------- */

.featherlight-next{
	background-color: rgba(25,255,255,0);
	top: -100px;
	bottom: 56vw;
	left: 65%;
	right: 35%;
}

.featherlight-previous{
	background-color: rgba(25,255,255,0);
	top: -100px;
	bottom: 56vw;
	left: 25%;
	right: 75%;
}

.featherlight-next:hover,
.featherlight-previous:hover{
	background:rgba(25,255,255,0);
}

.featherlight-next span,
.featherlight-previous span{
	display:inline-block;
}

.caption{
	position: absolute;
    right: 0;
    left: 0;
	color: white;
	width: 100%;
	max-height: 72px;
	max-width: 400px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

/* ------------------------------------------------------ */

@media screen and (min-aspect-ratio: 13/10) and (max-aspect-ratio: 220/100){	
	.featherlight .featherlight-content{
		top: 2%;
		vertical-align: baseline;
	}
	
	.featherlight .featherlight-image{
		width: 80%;
	}
}


@media screen and (orientation: landscape) and (max-height: 360px){
	.featherlight-swipe-aware .featherlight-image{
		height: 242px;
	}
	
	.caption{
		margin-top: 15px;
	}
}

@media screen and (min-width: 350px) {
	input{
		width: 75%;
	}
}

@media screen and (min-width: 430px) {
	input{
		width: 70%;
	}
}

@media screen and (min-width: 537px) {
	#pics{
		margin: 12px 0 33px;
	}
	input{
		width: 60%;
	}
	.caption{
		max-width: 500px;
	}
}

@media screen and (min-width: 750px){
	input{
		width: 50%;
	}	
	
	.featherlight .featherlight-image{
		width: 80%;
	}
	
	.featherlight .featherlight-content{
		top: 8%;
		vertical-align: baseline;
	}
	
	.featherlight-next{
		top: 50%;
		bottom: 50%;
		left: 100%;
		right: -11%;
	}
	.featherlight-previous{
		top: 50%;
		bottom: 50%;
		left: -11%;
		right: 100%;
	}
	.caption{
		max-width: 600px;
	}
}

@media screen and (min-width: 850px){
	.featherlight .featherlight-image{
		width: 75%;
	}
	.featherlight-next{
		right: -22%;
	}
	.featherlight-previous{
		left: -22%;
	}
}

@media screen and (min-width: 1057px) {
	input{
		width: 36%;
	}
	#pics{
		margin: 2px 0 33px;
	}
	header{
		margin-top: 29px;
	}
	.featherlight .featherlight-image{
		width: 70%;
	}
	.featherlight-next{
		right: -28%;
	}
	.featherlight-previous{
		left: -28%;
	}
}

@media screen and (min-width: 1280px) {
	#pics{
		max-width: 1040px;
	}
}
